section.about div.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.about div.img img {
  max-width: 100%;
}

section.about div.content h1 {
  padding: 20px;
}

section.about div.content p {
  padding: 20px;
}

@media screen and (min-width: 576px) {
  section.about div.img img {
    padding-top: 10px;
    width: 400px;
  }
}

@media screen and (min-width: 992px) {
  section.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  section.about div.img {
    padding: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 300px;
    max-width: 300px;
  }
  section.about div.img img {
    margin-top: 0;
    min-width: 250px;
  }
  section.about div.content {
    min-width: 700px;
  }
  section.mayor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  section.about div.content {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
  }
  section.about div.content h1 {
    margin-bottom: -20px;
  }
}
