section.faq {
  margin-top: 2px;
}

section.faq section.item-faq h1 {
  background: #7d049e;
  color: #fff;
  margin: 0;
  padding: 10px;
  cursor: pointer;
  font-size: 25px;
  font-weight: normal;
  border-top: 2px solid #fff;
  display: block;
}

section.faq section.item-faq h1::before {
  font-weight: bold;
  margin-right: 5px;
}

section.faq section.item-faq p {
  color: #000;
  display: none;
  padding: 20px;
  margin: 0;
  margin-bottom: 1px;
  overflow: hidden;
  background-color: #8cbf3f;
}

section.faq section.item-faq p.p2 {
  display: block;
}

footer {
  margin-top: 30px;
}

.active-faq {
  display: block !important;
}

@media screen and (min-width: 576px) {
  section.faq {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  section.faq section.item-faq {
    display: block;
    max-width: 700px;
    min-width: 700px;
  }
  section.faq section.item-faq h1 {
    display: block;
    min-width: 100%;
    max-width: 100%;
  }
}
