section.gallery {
  margin-top: 2px;
}

img.main-img {
  min-width: 100%;
  max-width: 100%;
}

button.arrow-left {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 10%;
  background-color: #F2CC0F;
  color: #7d049e;
  font-size: 20px;
  border: none;
  outline: none;
  z-index: 2;
  opacity: 0.5;
}

div.menu-images {
  width: auto;
  display: flex;
  height: 70px;
  position: relative;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

img.images {
  width: 70px;
  height: 60px;
  object-fit: cover;
  opacity: 0.7;
}

.active-img {
  opacity: 1 !important;
}

button.arrow-right {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 10%;
  background-color: #F2CC0F;
  color: #7d049e;
  font-size: 20px;
  border: none;
  outline: none;
  z-index: 2;
}

footer {
  margin-top: 30px;
}

section.videos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
}

section.videos iframe {
  height: 300px;
  margin-top: 5px;
  width: 700px;
  max-width: 100%;
}


@media screen and (min-width: 768px) {
  section.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main-img {
    height: 500px;
  }
  div.block-main-img {
    max-width: 700px;
    min-width: 700px;
  }
  .menu-images {
    max-width: 700px !important;
  }
}

@media screen and (min-width: 1100px) {
  section.videos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 100%;
    min-width: 100%;
    padding-right: 10px;
    margin-top: 10px;
  }
  section.videos iframe {
    max-width: 333px;
    min-width: 333px;
    margin-right: 10px;
    max-height: 200px;
    min-height: 200px;
  }
}
